#dots{
    width: 20px;
    height: 20px;
}

#editProduct{
    border: 1px solid;
    border-radius: .3rem;
    width: 100%;
}

#editProduct #edit{
    width: 15px;
    height: 15px;
}

input[type="checkbox"]{

}

#p-img{
    width: 37px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: .1rem;
}
.variants{
    padding: 5px;
}
.variants:hover{
    background-color: lavender;
}
.variant{
    border: 1px solid;
    border-radius: 1.5rem;
}