#dots{
    width: 20px;
    height: 20px;
}

#editProduct{
    border: 1px solid;
    width: 100%;
}

#editProduct #edit{
    width: 15px;
    height: 15px;
}

input[type="checkbox"]{

}

#p-img{
    width: 37px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: .1rem;
}