#dots{
    width: 30px;
    height: 30px;
}


#edit{
    width: 15px;
    height: 15px;
}
#edit:hover{
    background-color: rgba(169, 169, 169, 0.445);
    width: 25px;
    height: 25px;
    padding: 5px;
}
#add-d{
    background-color: darkcyan;
    border-radius: .3rem;
    color: white;
    border: none;
    padding: .5rem;
    width: 10rem;
}
#p-img{
    width: 37px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: .1rem;
}
.variants{
    padding: 5px;
}
.variants:hover{
    background-color: lavender;
}
.variant{
    border: 1px solid darkgray;
    border-radius: 1.5rem;
}
.flat{
    padding: 6px;
    margin-left: 4px;
}
.in{
    border: 1px solid;
    padding: 5px;
}
#p-title{
    border: 1px solid darkgray;
}